*{margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}
.section{
  width: 100%;
  height: 100vh;
}
.section.one{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url("../image/fondoLogin.jpg");
  text-align: center;
  color: white
}
.section.one img{
  width: 300px;
}
.section.one h2{
  font-size: 70px;
  font-weight: lighter;
 }
.section.one h1{
  font-size: 70px;
  color: #59b547;
  margin-bottom: 50px;
}

.section.one button{
  outline: none;
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 15px 30px;
  transition: all .5s ease;
  cursor: pointer;
  text-transform: uppercase;
}
.section.one button:hover{
  border: none;
  background: #59b547;
}
#loginModal{
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
  top: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110vh
}
#loginModal span{
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}
.container--modal{
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 20px 2px rgba(0,0,0,.6);
  position: absolute;
  background: white;
  top: 0; left:0; right: 0; bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  z-index: 99;
}
.container--modal img{
  width: 150px;
}
.container--modal form{
  width: 80%;
}
.form--group{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.login--input{
  border: none;
  background: #eee;
  padding: 10px 0 ;
  outline: none;
  transition: all .5s ease-out;

}
.login--label{
  transform: translateY(-25px);
  transition: all .5s ease;
  color: #9e9e9e;
}
.login--input:focus , .login--input:valid {
  border-bottom: 1px solid #248275;
}

.login--input:focus ~ label, .login--input:valid ~ label{
  color: #248275;
  transform: translateY(-55px);
}

.btn{
  outline: none;
  border: none;
  padding: 10px;
  background: #248275;
  color: white;
}
