*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; font-family: sans-serif;}

.navigator{
  width: 250px;
  position: fixed;
  height: 100vh;
  background:#242931;
  color: white
}
.navigator--profile{
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 60px 0;
}
.navigator img{width: 150px;}
.navitador--items ul li{
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.navitador--items ul li:hover{
  border-left: 5px solid #59b547;
  box-shadow: 4px 4px 18px 0px rgba(0,0,0,.3);
}
.navitador--items a{color: white; padding-left: 10px}
.wrap--content{width: 100%}
.max--content{margin-left: 250px; padding: 30px 30px 30px 60px;}
.menu--top{
  width: 100%;
  height: 50px;
  background: #59b547;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.menu--top a, .menu--top p{
  color: white;
  padding: 15px;
  cursor: pointer;
}
.title{
  text-align: center;
  font-weight: lighter;
  color: #9e9e9e;
  font-size: 30px;
  text-transform: uppercase;
}
.table--detail{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  text-transform: capitalize;
}
.header--detail{background: #c4c4d0;}
.table--detail td, .table--detail th{
  border: 1px solid grey;
  padding: 10px;
}
.content--miembro{margin: 50px 0}
.title--detail{margin-bottom: 10px; font-size: 20px; text-transform: uppercase;}
/*datatable*/
.ui-tabs .ui-tabs-panel{padding: 0}
.ui-widget.ui-widget-content{width: 95%;}
.ui-tabs .ui-tabs-nav{display: flex; justify-content: center; margin: 40px}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
  padding: 10px ;
  width: 200px;
  border: none;
  outline: none;
 }
.ui-tabs .ui-tabs-nav li{
  background: #59b547;
}

 table.dataTable.no-footer{border: none}
.ui-widget-content{border: none!important}
.ui-widget-header{background: white; border: none;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter{
  margin-bottom: 40px;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable tbody td{
  border: 1px solid #9e9e9e;
  padding: 10px
}
.actions{
  display: flex; justify-content: space-around; align-items: center;
}
.actions i{color: grey;}
.actions i:hover{color:#59b547 }
/* inputs */
.form{width: 100%}
.wrap--two{display: flex; box-sizing: border-box;}
.wrap--form{display: flex; flex-direction: column; width: 90%; margin-top: 20px}
.wrap--form.big{width: 100%}
.wrap--form input, .wrap--form select, .wrap--form textarea{
  outline-color: #59b547;
  border: 1px solid grey;
  padding: 10px;
  width: 90%
}
.wrap--form label{
  color: grey;
  text-transform: capitalize;
}
.wrap--form.big{width: 100%}
.wrap--form.big input, .wrap--form.big select ,.wrap--form.big textarea{width: 95%;}
.btn--form{
  margin-top: 20px;
  padding: 15px;
  outline: none;
  color: white;
  background: #59b547;
  border: none
}
.wrap--grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  margin-top: 50px
}
.content--grid{
  background: #e2e2e2;
  text-align: center;
  border-radius: 8px;
  padding: 30px;
}
.content--grid a{
  font-size: 18px;
  color: #868686;
  transition: all .5s ease;
}

.container--buttons{
  width: 100%;
  margin: 50px 0 50px 0;
  display: flex;
}

.container--buttons button{
  outline: none;
  border: none;
  background: #7bd46a;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  transition: all ease
}

.containerModal{
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
  transform: translateY(-9999px);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content--modal{
  padding: 30px;
  background: white;
  border-radius: 8px;
  position: relative;
}
.titleModal{text-align: center; color: grey;}
#closeModal{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}
