RewriteEngine On
RewriteRule ^inicio$ index.php?c=views
RewriteRule ^finalizar$ index.php?c=auth&a=logOut
RewriteRule ^validar-login$ index.php?c=auth&a=logIn
RewriteRule ^gesition-usuarios$ index.php?c=views&a=users
RewriteRule ^adminstracion$ index.php?c=admin
RewriteRule ^mi-perfil$ index.php?c=views&a=profileAdmin
RewriteRule ^gestion-grupos$ index.php?c=views&a=groups
RewriteRule ^programas-formacion$ index.php?c=views&a=program
RewriteRule ^gestion-proyectos$ index.php?c=views&a=projects
RewriteRule ^crear-usuario$ index.php?c=user&a=createUser
RewriteRule ^editar-usuario-(\w+)$ index.php?c=views&a=viewUpdateUser&data=$1
RewriteRule ^modificar-usuario$ index.php?c=user&a=update
RewriteRule ^modificar-perfil$ index.php?c=user&a=updateProfile
RewriteRule ^modificar-contrasena$ index.php?c=user&a=updatePassword
RewriteRule ^cambiar-estado-usuario$ index.php?c=user&a=changeStatus
RewriteRule ^crear-grupo$ index.php?c=groups&a=create
RewriteRule ^asignar_integrantes$ index.php?c=views&a=collaborators
RewriteRule ^agregar_colaborador$ index.php?c=groups&a=addCollaborators
RewriteRule ^finalizar-registro-grupo$ index.php?c=groups&a=finalizar
RewriteRule ^eliminar-grupo$ index.php?c=groups&a=delete
RewriteRule ^ver-grupo-(\w+)$ index.php?c=views&a=viewGroup&data=$1
RewriteRule ^crear-proyecto$ index.php?c=projects&a=create
RewriteRule ^crear-ficha$ index.php?c=ficha&a=create
RewriteRule ^eliminar-ficha$ index.php?c=ficha&a=delete
RewriteRule ^ver-proyecto-(\w+)$ index.php?c=views&a=detailProyect&data=$1
RewriteRule ^actas-reunion$ index.php?c=views&a=actas
RewriteRule ^detalles-acta-(\w+)$ index.php?c=views&a=detailActas&data=$1
RewriteRule ^listas-asistencia$ index.php?c=views&a=assistance
RewriteRule ^informes-investigacion$ index.php?c=views&a=reports
RewriteRule ^compras-contrataciones$ index.php?c=views&a=purchases
RewriteRule ^publicaciones$ index.php?c=views&a=publication
RewriteRule ^articulos-estudio$ index.php?c=views&a=articles
RewriteRule ^aliados$ index.php?c=views&a=aliados
RewriteRule ^aprendices$ index.php?c=views&a=alumns
RewriteRule ^crear-acta$ index.php?c=actas&a=crear
RewriteRule ^subir-asistencia$ index.php?c=asistencia&a=crear
RewriteRule ^subir-informe$ index.php?c=informe&a=crear
RewriteRule ^crear-tipo$ index.php?c=informe&a=crearTipo
RewriteRule ^eliminar-tipo-piblicacion-(\w+)$ index.php?c=informe&a=eliminarTipo&data=$1
