RewriteEngine On
RewriteRule ^inicio$ index.php?c=views
RewriteRule ^finalizar$ index.php?c=auth&a=logOut
RewriteRule ^validar-login$ index.php?c=auth&a=logIn
RewriteRule ^gesition-usuarios$ index.php?c=views&a=users
RewriteRule ^adminstracion$ index.php?c=admin
RewriteRule ^mi-perfil$ index.php?c=views&a=profileAdmin
RewriteRule ^gestion-grupos$ index.php?c=views&a=groups
RewriteRule ^gestion-proyectos$ index.php?c=views&a=projects
RewriteRule ^crear-usuario$ index.php?c=user&a=createUser
